.vscode
.classpath
.project
.factorypath
.settings/**
target/**
deployment/.classpath
deployment/.project
deployment/.factorypath
deployment/.settings/**
deployment/target/**
runtime/.classpath
runtime/.project
runtime/.factorypath
runtime/.settings/**
runtime/target/**